body {
    font-family: 'Fira Sans Condensed', sans-serif;
    margin: 0;
}

.first span {
    color: orange;
}

.first h1 {
    font-size: 80px;
    font-weight: 700;
    color: #555555;
}

.second h1 {
    font-size: 80px;
    font-weight: 700;
    color: #555555;
}

.third h2 {
    font-size: 50px;
    font-weight: 700;
    color: #555555;
}

.first p {
    font-size: 30px;
    font-weight: 400;
    color: grey;
}

.second p {
    font-size: 30px;
    font-weight: 400;
    color: grey;
}

.flexibal {
    display: flex;
}

.half {
    width: 50%;
    margin-left: 5%;
    margin-top: 5%;
}

.half img {
    width: 800px;
}

.btn {
    text-decoration: none;
    padding: 20px 40px;
    background-image: linear-gradient(70deg, orange, red);
    opacity: 70%;
    color: white;
    border-radius: 40px;
    font-size: 25px;
    font-weight: 700;
}

.margin-80 {
    margin-bottom: 80px;
}

#about {
    margin-top: 10%;
    margin-right: 5%;
}

.second {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.third {
    width: 100%;
    margin-top: 80px;
    text-align: center;
}

.third p {
    font-size: 20px;
    font-weight: 400;
    color: grey;
    margin-bottom: 50px;
}

.food p {
    font-size: 20px;
    font-weight: 400;
    color: grey;
    margin-top: -10px;
}

.third h2 {
    font-size: 60px;
}

.food h2 {
    font-size: 40px;
}


.food {
    display: flex;
    height: 600px;

}

.recipies-1 {
    text-align: left;
    width: 500px;
    height: 500px;
    margin-left: 20%;
    margin-bottom: 10%;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 15px 10px 65px #888888;
}

.recipies-1 img {
    width: 500px;
    height: 300px;
}

.recipies-2 {
    text-align: left;
    width: 500px;
    height: 500px;
    margin-left: 5%;
    margin-bottom: 8%;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 15px 10px 65px #888888;
}

.recipies-2 img {
    width: 500px;
    height: 300px;
}

.fourth {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 100px;
}

#followers {
    justify-content: center;
    width: 60%;
    margin-left: 20%;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 15px 10px 65px #888888;
}

.social {
    text-align: left;
    margin-left: 120px;
    margin-right: 120px;
}

.social h1 {
    font-size: 30px;
    font-weight: 700;
    color: black;
}

.social p {
    font-size: 16px;
    font-weight: 500;
    color: #555555;
}

footer {
    text-align: center;
    width: 100%;
    height: 150px;
    background-color: black;
}

footer h1 {
    padding-top: 30px;
}

#eat {
    color: orange;
}

#fresh {
    color: #888888;
}

footer p {
    color: white;
}